.place__website_url__url-heading {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
  text-decoration: none;
  transition: opacity 0.5s ease-in-out;
}

.place__website_url__url-heading:hover {
  opacity: 0.5;
}

@media screen and (max-width: 850px){
.place__website_url__url-heading {
  line-height: 20.4px;
}
}