.footer__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

@media screen and (max-width: 721px) {
    .footer__copyright {
        line-height: 14px;
        margin-top: 48px;
        min-width: 186px;
    }
}